body
{
 background: #FFFFFF;
 font-family:Monda, Arial;
 text-decoration:none;
 font-size:1em;
 padding:0px;
 margin:0px;
}

a
{
 color:#111111;
 text-decoration:none;
 font-weight:lighter;
}

a:hover
{
 color:#707070;
}

img
{
 border:1px solid #000000;
 box-shadow:0px 0px 3px #000000;
}

footer div
{
 margin-left:25%;
 display:inline-block;
}

#header h2
{
 margin-bottom:0.5em;
}

#header h3
{
 margin-top:0em;
}

#link
{
 
}

#twoway
{
 height:100%;
}

.wrapper img
{
 width:100%;
}

.navbar
{
 text-decoration:none;
 color:#DDDDDD;
}
